<div>
    <h2>
        Development environment only shortcuts 
    </h2>
    
    <%= link_to "1 complete", root_path(q: 'Goiânia') %>
    <%= link_to "2 complete", root_path(q: 'Key123', location_id: Location.search_by_text('Key123').first) %>
    <%= link_to "2 complete other", root_path(q: 'Key123', location_id: Location.search_by_text('Key123').last) %>
    <hr>
</div>